@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-salmon: #f4c7c9;
  --color-salad: #ceef88;
  --color-dark: #000000;
  --color-borders: #afb2bb;
  --color-card-bg: #eff3ff;
}

:root {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #e6ecff;

  color-scheme: light dark;
  color: var(--color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-dark);
  text-decoration: inherit;
}
a:hover {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}

.highlight::before {
  content: "";
  display: block;
  position: absolute;
  width: 223px;
  height: 223px;
  background: rgba(206, 239, 136, 0.7);
  filter: blur(136.75px);
  top: -10%;
  left: 15%;
  z-index: 2;
}

.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-button-prev,
.swiper-button-next {
  color: var(--color-borders);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--color-salad);
}

@layer components {
  .form-control,
  .form-select {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid var(--color-borders);
    padding: 0.5rem;
  }

  .form-control::-moz-placeholder,
  .form-select::-moz-placeholder {
    --tw-text-opacity: 1;
    color: var(--color-gray-400);
  }

  .form-control::placeholder,
  .form-select::placeholder {
    color: var(--color-gray-400);
  }

  .form-control:focus,
  .form-select:focus {
    --tw-border-opacity: 1;
    border-color: var(--color-gray-800);
  }

  .form-control option,
  .form-select option {
    line-height: 2;
    --tw-text-opacity: 1;
    color: rgb(34 34 34 / var(--tw-text-opacity, 1));
  }

  .form-control option::-moz-placeholder,
  .form-select option::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgb(176 176 176 / var(--tw-text-opacity, 1));
  }

  .form-control option::placeholder,
  .form-select option::placeholder {
    --tw-text-opacity: 1;
    color: rgb(176 176 176 / var(--tw-text-opacity, 1));
  }
  .form-label {
    display: block;
  }

  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 42px;
    border-width: 1px;
    padding: --spacing(2) --spacing(4);
    font-weight: var(--font-weight-semibold);
    border-radius: var(--radius-xl);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.2s;
  }

  .btn:hover {
    opacity: 0.9;
    transform: scale(103%);
  }

  .btn.btn__accent {
    background-color: var(--color-salmon);
    border-color: var(--color-salmon);
  }

  .btn.btn__secondary {
    background-color: #e6ecff;
    border-color: #e6ecff;
  }

  .title {
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--color-dark);
    margin-bottom: 2rem;
  }
}
