.profile:before {
  display: block;
  position: absolute;
  content: "";
  right: 0;
  top: -30px;

  width: 130px;
  height: 130px;

  background: rgba(206, 239, 136, 0.5);
  filter: blur(136.75px);
}
